<!--  장고 탬플릿을 이용하자 -->
<!--  탬플릿 태그는 파이썬을 HTML로 바꿔서 , 쉽게 동적인 웹사이트로 만들어준다 -->
{% load static %}


<!-- 브라우저는 주어진 순서대로 파일을 읽는다 -->

<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <meta charset="utf-8">
        <title>방진요</title>
    </head>
    <!-- 파이썬 탬플릿 태그로 html 파일에서 파이썬을 이용할 수 있다 -->
    <body>
        <div class="page-header">
            <h1><a href="">충격! 방원선의 진실은?</a></h1>
        </div>
    </body>
    <!-- div 로 페이지 섹션을 나눈다 -->

    <div>
        <p> 이 글은 랩실에서 작성되었습니다  </p>
    </div>

    <div>
        <h2><a href="" > 방원선의 충격적인 사진들 </a> </h2>
    </div>

</html>