<html>
    <head>
        <meta charset = "utf-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- 한글로 인코딩할때 필요한 문자 , head 안에 넣어놓으면 된다 -->
        <title> 이민형 cSS 연습장 </title>
        <link rel= "stylesheet" type="text/css" href= "style.css" >
        <meta name = "description " content="이민형 연습장">
        <!-- 이거 카톡에서 홈페이지 소개 뜰때 나오는 그 링크임 ㅋㅋ , 그게 메타태그  -->
        <script src="main.js" defer></script>
        <script src="https://kit.fontawesome.com/227bd07be7.js" crossorigin="anonymous"></script>
    </head>
    <!-- 본문 시작  -->
        <!-- 이거 이미지 집어넣는 키임  , 만약 비디오를 집어넣고 싶다면 video src = "" -->
            <!-- div는 한 줄 전체의 공간을 차지하게 된다  -->
            <!-- span은 자신이 차지하고 있는 공간만큼을 색칠하게 된다-->
            <!-- placeholder 자리에 저걸 배치하면 흐릿한 글씨가  뜨게 된다 -->
    <!-- div는 레이아웃을 만들때 사용한다  -->
    <body>
        <nav class="navbar">
            <div class="navbar_logo">
                <i class="fas fa-address-card"></i>
                <a href=""> 감성콘 </a>
            </div>
            <!-- ul: unorder list , 순서없는 리스트 작성시에 사용 -->
            <ul class="navbar_menu">
                <li><a href="">연구실 소개</a></li>
                <li><a href="">교수</a></li>
                <li><a href="">알럼나이</a></li>
                <li><a href="">연구생</a></li>
                <li><a href="">사진첩</a></li>
            </ul>
            <ul class="navbar_icons">
                <li><i class="fab fa-twitch"></i></li>
                <li><i class="fab fa-twitter"></i></li>

            </ul>
            <a href="#" class="navbar_toggleBtn">
                <i class="fas fa-bars"></i>
            </a>
        </nav>
    </body>
</html>
