<html>
    <head>
        <meta charset = "utf-8">
        <!-- 한글로 인코딩할때 필요한 문자 , head 안에 넣어놓으면 된다 -->
        <title> 이민형 cSS 연습장 </title>
        <!-- sytle 과 관련된 파일을 전부 style.css에 넣으라는 말이다  -->
        <link href="style.css"
              rel= "stylesheet "
              type="text/css"  />
        <meta name = "description " content="이민형 연습장">
        <!-- 이거 카톡에서 홈페이지 소개 뜰때 나오는 그 링크임 ㅋㅋ , 그게 메타태그  -->
    </head>
    <!-- 본문 시작  -->
    <body>
        <h1>안녕</h1>
        <h2>안녕</h2>
        <h3>안녕</h3>
        <h4>안녕</h4>
        <h5>안녕</h5>
        <h6>안녕</h6>
        <!-- 이거 이미지 집어넣는 키임  , 만약 비디오를 집어넣고 싶다면 video src = "" -->

        <p>  </p>

        <table border="1">
        <thead>
            <tr>
                <th>이름</th>
                <th>나이</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>민형</td>
                <td>23살</td>
            </tr>
            <tr>
                <td>민형</td>
                <td>25살</td>
            </tr>

        <p></p>

        </tbody>
            <div class = "top"> 상단 </div>
            <div class = "mid"> 중단 </div>
            <div class = "bot"> 하단 </div>
            <!-- div는 한 줄 전체의 공간을 차지하게 된다  -->
            <!-- span은 자신이 차지하고 있는 공간만큼을 색칠하게 된다-->
        <input type= "text">
        <input type= "checkbox ">
        <input type= "radio">
        <input type= "color">
            <textarea></textarea>
        <select name= " name ">
            <option value= "민형"> 아나 </option>
            <option value= "나나"> 나나 </option>
        </select>
        <form>
            <input type = "email" placeholder= " 이메일 " />
            <input type = "password " placeholder= " 비밀번호 "/>
            <!-- placeholder 자리에 저걸 배치하면 흐릿한 글씨러 뜨게 된다 -->
            <button type = "submit"> 로그인 </button>
        </form>
    </body>